<!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-title-bar></app-title-bar>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-info-act></app-info-act>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-info-act></app-info-act>
      </div>
    </div>
</div> -->
<!-- <app-bootstrap-pricing></app-bootstrap-pricing> -->
<!-- <div class="container">
  <app-inter-comp-v1></app-inter-comp-v1> 
</div> -->
<!-- <app-calculator></app-calculator> -->
<div class="container">
  <app-view-related>
    <h1 style="border: 1px solid red"a> Hi this is codekul</h1>    
  </app-view-related>
</div>