<!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-title-bar></app-title-bar>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-info-act></app-info-act>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-info-act></app-info-act>
      </div>
    </div>
</div> -->
<!-- <app-bootstrap-pricing></app-bootstrap-pricing> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-view-encapsulation></app-view-encapsulation> -->
      <app-my-badge [ntTxt]="'Friend Requests'" [ntCnt]="10" (ntClk)="notificationCount($event)"></app-my-badge>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- <app-view-encapsulation></app-view-encapsulation> -->
      <app-my-badge [ntTxt]="'Sms Sent'" [ntCnt]="200" (ntClk)="notificationCount($event)"></app-my-badge>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <!-- <app-view-encapsulation></app-view-encapsulation> -->
      <app-my-badge [ntTxt]="'Inquiries'" [ntCnt]="50" (ntClk)="notificationCount($event)"></app-my-badge>
    </div>
  </div>
  <!-- <app-databinding></app-databinding> -->
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-secondary" role="alert">
        {{title}}
      </div>
    </div>
  </div>
</div>
<!-- <app-calculator></app-calculator> -->